/*
 hesuxiang
 */

html {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}

 /*淡入淡出动画效果*/
@-webkit-keyframes fadeIn {
0% {
opacity: 0; /*初始状态 透明度为0*/
}
50% {
opacity: 0; /*中间状态 透明度为0*/
}
100% {
opacity: 1; /*结尾状态 透明度为1*/
}
}

body {
    padding: 20px;
    /*background-image: url(wow.png);*/
    /*padding: 30px;*/
	/*margin:20px;*/
    /*background-repeat:no-repeat; */
	/*background-size:100% 100%;*/
	/*background-attachment:fixed;*/
	/*background-positon: 100%, 100%;*/
}

div {
	margin:2px;
    padding-top: 10px;
	/*webkit-animation: fadeIn 1s;	 Safari 和 Chrome */
}

h1 {
     /*background-color:#f08523 ;*/ 
    color: #453929;
   /* background-color: #464444;*/
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16pt;

    /*margin: 30;*/
	
    box-shadow: 5px 5px 2px #888888;
 
	border:1px solid #888888;
	-webkit-animation: fadeIn 1s;	/* Safari 和 Chrome */
	/*background:#ffffdd*/
}
h2 {
    color: #453929;
    font-size: 14pt;
	-webkit-animation: fadeIn 1s;	/* Safari 和 Chrome */
}
strong {
    color: #453929;
    font-size: 14pt;
    -webkit-animation: fadeIn 1s;   /* Safari 和 Chrome */
}

p{
    padding-right: 8px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 12pt;
    color: #453929;
    letter-spacing:2px;
    line-height:20px;
	-webkit-animation: fadeIn 3s;	/* Safari 和 Chrome */
 
}
